<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>data</key>
            <array>
                <string>6%3%2</string>
                <string>9%4%2</string>
                <string>9%5%2</string>
                <string>5%6%2</string>
                <string>1%6%3</string>
                <string>3%6%5</string>
                <string>9%5%5</string>
                <string>9%4%5</string>
                <string>9%8%5</string>
                <string>9%9%5</string>
                <string>9%8%2</string>
                <string>9%9%2</string>
                <string>10%3%4</string>
                <string>10%3%3</string>
                <string>10%7%4</string>
                <string>10%7%3</string>
                <string>10%10%4</string>
                <string>10%10%3</string>
                <string>4%3%5</string>
                <string>4%7%5</string>
                <string>3%10%5</string>
                <string>6%7%2</string>
                <string>5%10%2</string>
            </array>
            <key>teleport</key>
            <string>true</string>
            <key>start</key>
            <string>2%6%5</string>
        </dict>
        <key>0</key>
        <dict>
            <key>data</key>
            <array>
                <string>4%6%7</string>
                <string>3%7%7</string>
                <string>7%6%6</string>
                <string>8%7%6</string>
                <string>12%5%6</string>
                <string>12%8%6</string>
                <string>6%6%5</string>
                <string>5%7%5</string>
                <string>12%5%5</string>
                <string>12%8%5</string>
                <string>12%5%4</string>
                <string>12%8%4</string>
                <string>3%6%4</string>
                <string>4%7%4</string>
                <string>4%4%6</string>
                <string>4%4%4</string>
                <string>6%4%5</string>
                <string>6%4%3</string>
                <string>3%9%6</string>
                <string>3%9%4</string>
                <string>5%9%5</string>
                <string>5%9%3</string>
                <string>5%6%3</string>
                <string>6%7%3</string>
                <string>12%5%3</string>
                <string>12%8%3</string>
                <string>6%5%2</string>
                <string>5%8%2</string>
                <string>9%6%2</string>
                <string>9%7%2</string>
            </array>
            <key>teleport</key>
            <string>true</string>
            <key>start</key>
            <string>1%0%0</string>
        </dict>
        <key>2</key>
        <dict>
            <key>data</key>
            <array>
                <string>4%6%7</string>
                <string>7%6%6</string>
                <string>12%5%6</string>
                <string>10%5%7</string>
                <string>10%8%7</string>
                <string>3%7%7</string>
                <string>8%7%6</string>
                <string>12%8%6</string>
                <string>4%4%6</string>
                <string>3%9%6</string>
                <string>10%4%5</string>
                <string>10%4%4</string>
                <string>10%9%5</string>
                <string>10%9%4</string>
                <string>6%5%5</string>
                <string>7%6%5</string>
                <string>8%7%5</string>
                <string>5%8%5</string>
                <string>6%4%3</string>
                <string>5%5%3</string>
                <string>4%5%4</string>
                <string>5%6%4</string>
                <string>6%7%4</string>
                <string>3%8%4</string>
                <string>5%9%3</string>
                <string>6%8%3</string>
            </array>
            <key>teleport</key>
            <string>true</string>
            <key>start</key>
            <string>1%0%0</string>
        </dict>
    </dict>
</plist>
